<h1>Make your form here</h1>

<form action="/pirates" method="post">

<h2>Pirate</h2>
<label for="pirate[name]">Pirate Name: </label>
<input type="text" name="pirate[name]">

<label for="pirate[weight]">Pirate Weight: </label> 
<input type="text" name="pirate[weight]">

<label for="pirate[height]">Pirate Height: </label>
<input type="text" name="pirate[height]">

<h2>Ship 1</h2>
<label for="pirate[ships][][name]">Ship Name: </label>
<input type="text" id="ship_name_1" name="pirate[ships][][name]">

<label for="pirate[ships][][type]">Ship Type: </label>
<input type="text" id="ship_type_1" name="pirate[ships][][type]">

<label for="pirate[ships][][booty]">Ship Booty: </label>
<input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  
<h2>Ship 2</h2>
<label for="pirate[ships][][name]">Ship Name: </label>
<input type="text" id="ship_name_2" name="pirate[ships][][name]">

<label for="pirate[ships][][type]">Ship Type: </label>
<input type="text" id="ship_type_2" name="pirate[ships][][type]">

<label for="pirate[ships][][booty]">Ship Booty: </label>
<input type="text" id="ship_booty_2" name="pirate[ships][][booty]">

<input type="submit" id="submit" value="Submit">
</form>